body{
    background-color: black;
}

h1{
    color: red;
    font-size: 120px;
    font: Cursive;
}

p{
    color: yellow;
    font-size: 30px;
}

h2{
    color: greenyellow;
    font-size: 50px;
}

a{
    color: blue;
    font-size: 20px
}

a{
    color: blue;
    font-size: 20px
}

a{
    color: blue;
    font-size: 20px
}
    
